._copyText_1udu4_1 span {
  font-family: Monaco, Consolas;
  color: var(--color--text);
  overflow-wrap: break-word;
}
._copyText_1udu4_1 {
  padding: var(--spacing--xs);
  background-color: var(--color--background--light-2);
  border: var(--border);
  border-radius: var(--radius);
  cursor: pointer;
  position: relative;
  font-weight: var(--font-weight--regular);
}
._copyText_1udu4_1:hover {
  /* stylelint-disable-next-line @n8n/css-var-naming */
  --display-copy-button: flex;
  width: 100%;
}
._noHover_1udu4_21 {
  cursor: default;
}
._large_1udu4_25 span {
  font-size: var(--font-size--sm);
  line-height: 1.5;
}
._medium_1udu4_30 span {
  font-size: var(--font-size--xs);
  line-height: 1;
}
._collapsed_1udu4_35 {
  white-space: nowrap;
  overflow: hidden;
}
._copyButton_1udu4_40 {
  /* stylelint-disable-next-line @n8n/css-var-naming */
  display: var(--display-copy-button, none);
  position: absolute;
  top: 0;
  right: 0;
  padding: var(--spacing--xs);
  background-color: var(--color--background--light-2);
  height: 100%;
  align-items: center;
  border-radius: var(--radius);
}
._copyButton_1udu4_40 span {
  font-family: unset;
}
._hint_1udu4_56 {
  margin-top: var(--spacing--2xs);
  font-size: var(--font-size--2xs);
  line-height: var(--line-height--lg);
  font-weight: var(--font-weight--regular);
  word-break: normal;
}