._selectPopper_ulroh_1 .el-select-dropdown__list {
  padding: 0;
}
._selectPopper_ulroh_1 :has(._newCredential_ulroh_4:hover) .hover {
  background-color: transparent;
}
._selectPopper_ulroh_1:not(:has(li)) ._newCredential_ulroh_4 {
  border-top: none;
  box-shadow: none;
  border-radius: var(--radius);
}
._credentialOption_ulroh_13 {
  display: flex;
  flex-direction: column;
}
._newCredential_ulroh_4 {
  display: flex;
  width: 100%;
  gap: var(--spacing--3xs);
  align-items: center;
  font-weight: var(--font-weight--bold);
  padding: var(--spacing--xs) var(--spacing--md);
  background-color: var(--color--background--light-2);
  color: var(--color--text--shade-1);
  border: 0;
  border-top: var(--border);
  box-shadow: var(--shadow--light);
  clip-path: inset(-12px 0 0 0);
}
._newCredential_ulroh_4:not([disabled]) {
  cursor: pointer;
}
._newCredential_ulroh_4:not([disabled]):hover {
  color: var(--color--primary);
}
._newCredential_ulroh_4[disabled] {
  opacity: 0.5;
  cursor: not-allowed;
}