/* BEM support Func
 -------------------------- */
/* Transition
-------------------------- */
/* Color
-------------------------- */
/* Link
-------------------------- */
/* Border
-------------------------- */
/* Outline
-------------------------- */
/* Box shadow
-------------------------- */
/* Fill
-------------------------- */
/* Typography
-------------------------- */
/* z-index
-------------------------- */
/* Disable base
-------------------------- */
/* Icon
-------------------------- */
/* Checkbox
-------------------------- */
/* Radio
-------------------------- */
/* Select
-------------------------- */
/* Alert
-------------------------- */
/* MessageBox
-------------------------- */
/* Message
-------------------------- */
/* Notification
-------------------------- */
/* Input
-------------------------- */
/* Cascader
-------------------------- */
/* Group
-------------------------- */
/* Tab
-------------------------- */
/* Button
-------------------------- */
/* cascader
-------------------------- */
/* Switch
-------------------------- */
/* Dialog
-------------------------- */
/* Table
-------------------------- */
/* Popup
-------------------------- */
/* Popover
-------------------------- */
/* Tooltip
-------------------------- */
/* Tag
-------------------------- */
/* Tree
-------------------------- */
/* Dropdown
-------------------------- */
/* Badge
-------------------------- */
/* Card
--------------------------*/
/* Slider
--------------------------*/
/* Steps
--------------------------*/
/* Menu
--------------------------*/
/* Rate
--------------------------*/
/* DatePicker
--------------------------*/
/* Loading
--------------------------*/
/* Scrollbar
--------------------------*/
/* Carousel
--------------------------*/
/* Collapse
--------------------------*/
/* Transfer
--------------------------*/
/* Header
  --------------------------*/
/* Footer
--------------------------*/
/* Main
--------------------------*/
/* Timeline
--------------------------*/
/* Backtop
--------------------------*/
/* Link
--------------------------*/
/* Calendar
--------------------------*/
/* Form
-------------------------- */
/* Avatar
--------------------------*/
/* Break-point
--------------------------*/
._cardLink_11x3s_113 {
  --card--padding: 0 0 0 var(--spacing--sm);
  transition: box-shadow 0.3s ease;
  cursor: pointer;
  align-items: stretch;
}
._cardLink_11x3s_113:hover {
  box-shadow: var(--shadow--card-hover);
}
._cardHeading_11x3s_123 {
  display: flex;
  align-items: center;
  font-size: var(--font-size--sm);
  padding: var(--spacing--sm) 0 0;
}
._cardDescription_11x3s_130 {
  min-height: 19px;
  display: flex;
  align-items: center;
  padding: 0 0 var(--spacing--sm);
}
._hasDescription_11x3s_137 {
  padding-bottom: var(--spacing--3xs);
}
._credentialDescription_11x3s_141 {
  display: block;
  width: 0;
  min-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-bottom: var(--spacing--sm);
}
._privateCredentialIndicator_11x3s_151 {
  display: inline-flex;
  align-items: center;
  margin-left: var(--spacing--2xs);
}
._cardActions_11x3s_157 {
  display: flex;
  gap: var(--spacing--2xs);
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  padding: 0 var(--spacing--sm) 0 0;
  cursor: default;
}
@media screen and (max-width: 991px) {
._cardLink_11x3s_113 {
    --card--padding: 0 var(--spacing--sm) var(--spacing--sm);
    --card--append--width: 100%;
    flex-wrap: wrap;
}
._cardActions_11x3s_157 {
    width: 100%;
    padding: 0;
}
._cardBadge_11x3s_178 {
    margin-right: auto;
}
}._type-input_11p01_1 {
  --select--dropdown--max-width: 265px;
}
._sidebarContainer_11p01_5 ul {
  padding: 0 !important;
}