._dropdown_1kw6g_1 {
  display: flex;
  align-items: flex-end;
  gap: var(--spacing--2xs);
}
._edit_1kw6g_7 {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 20px;
  font-size: var(--font-size--sm);
}
._createButton_1kw6g_15 {
  width: 100%;
}