._hiddenNotice_1e2zu_1 {
  padding: var(--spacing--4xs) var(--spacing--2xs);
  border-top: var(--border);
  color: var(--color--text--tint-1);
  font-size: var(--font-size--3xs);
  font-style: italic;
  line-height: var(--line-height--lg);
}.dependency-pill-dropdown {
  z-index: 1;
}