.connection-switch[data-v-037305e4] {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.connection-switch.error[data-v-037305e4] .el-switch.is-checked .el-switch__core {
  background-color: #ff4027;
  border-color: #ff4027;
}