._indicator_ovumj_1 {
  display: inline-flex;
  align-items: center;
  gap: var(--spacing--4xs);
  padding: var(--spacing--5xs) var(--spacing--3xs);
  border-radius: var(--radius--xl);
  color: var(--color--secondary);
  background-color: var(--color--secondary--tint-1);
  white-space: nowrap;
}._avatar_1bie9_1 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: var(--color--white);
  font-weight: var(--font-weight--bold);
  border-radius: var(--radius--md);
  line-height: 1;
  font-variant-numeric: tabular-nums;
}
._avatar_1bie9_1._small_1bie9_12 {
  width: 18px;
  height: 18px;
  font-size: var(--font-size--2xs);
}
._avatar_1bie9_1._medium_1bie9_18 {
  width: 24px;
  height: 24px;
  font-size: var(--font-size--xs);
}
._dot_1bie9_24 {
  display: inline-block;
  border-radius: var(--radius--full);
}
._dot_1bie9_24._small_1bie9_12 {
  width: 8px;
  height: 8px;
}
._dot_1bie9_24._medium_1bie9_18 {
  width: 10px;
  height: 10px;
}._wrap_ad16i_1 {
  display: inline-flex;
  flex-direction: column;
  gap: var(--spacing--4xs);
}
._labelsRow_ad16i_7 {
  display: flex;
  flex-wrap: nowrap;
}
._label_ad16i_7 {
  font-size: var(--font-size--3xs);
  font-family: var(--font-family);
  color: var(--text-color--subtle);
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: var(--font-weight--medium);
}
._label_ad16i_7:last-child {
  margin-right: 0 !important;
}
._valueLabel_ad16i_26 {
  font-size: var(--font-size--2xs);
  font-family: var(--font-family);
  font-weight: var(--font-weight--bold);
}
._letterLabel_ad16i_32 {
  font-size: var(--font-size--2xs);
  font-family: var(--font-family);
  font-weight: var(--font-weight--medium);
  fill: var(--text-color--subtle);
}