._container_6wbdf_1 > * {
  line-height: 1;
}
._trigger_6wbdf_5 {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
._trigger_6wbdf_5[aria-expanded=true] button {
  background-color: var(--background-active);
}
._dark_6wbdf_12 {
  color: var(--color--text--shade-1);
}
._dark_6wbdf_12:focus {
  background-color: var(--color--background--light-3);
}
._loading-item_6wbdf_19 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  min-width: var(--spacing--3xl);
}