/* BEM support Func
 -------------------------- */
/* Transition
-------------------------- */
/* Color
-------------------------- */
/* Link
-------------------------- */
/* Border
-------------------------- */
/* Outline
-------------------------- */
/* Box shadow
-------------------------- */
/* Fill
-------------------------- */
/* Typography
-------------------------- */
/* z-index
-------------------------- */
/* Disable base
-------------------------- */
/* Icon
-------------------------- */
/* Checkbox
-------------------------- */
/* Radio
-------------------------- */
/* Select
-------------------------- */
/* Alert
-------------------------- */
/* MessageBox
-------------------------- */
/* Message
-------------------------- */
/* Notification
-------------------------- */
/* Input
-------------------------- */
/* Cascader
-------------------------- */
/* Group
-------------------------- */
/* Tab
-------------------------- */
/* Button
-------------------------- */
/* cascader
-------------------------- */
/* Switch
-------------------------- */
/* Dialog
-------------------------- */
/* Table
-------------------------- */
/* Popup
-------------------------- */
/* Popover
-------------------------- */
/* Tooltip
-------------------------- */
/* Tag
-------------------------- */
/* Tree
-------------------------- */
/* Dropdown
-------------------------- */
/* Badge
-------------------------- */
/* Card
--------------------------*/
/* Slider
--------------------------*/
/* Steps
--------------------------*/
/* Menu
--------------------------*/
/* Rate
--------------------------*/
/* DatePicker
--------------------------*/
/* Loading
--------------------------*/
/* Scrollbar
--------------------------*/
/* Carousel
--------------------------*/
/* Collapse
--------------------------*/
/* Transfer
--------------------------*/
/* Header
  --------------------------*/
/* Footer
--------------------------*/
/* Main
--------------------------*/
/* Timeline
--------------------------*/
/* Backtop
--------------------------*/
/* Link
--------------------------*/
/* Calendar
--------------------------*/
/* Form
-------------------------- */
/* Avatar
--------------------------*/
/* Break-point
--------------------------*/
._primary_1g5rs_113 {
  color: var(--color--primary);
}
._primary_1g5rs_113:active {
  color: var(--color--primary--shade-1);
}
._text_1g5rs_120 {
  color: var(--color--text);
}
._text_1g5rs_120:hover {
  color: var(--color--primary);
}
._text_1g5rs_120:active {
  color: var(--color--primary--shade-1);
}
._danger_1g5rs_130 {
  color: var(--color--danger);
}
._danger_1g5rs_130:active {
  color: var(--color--danger--shade-1);
}
._secondary_1g5rs_137 {
  color: var(--link--color--secondary);
}
._secondary_1g5rs_137:active {
  color: var(--link--color--secondary--hover);
}
._primary-underline_1g5rs_144 {
  text-decoration: underline;
}
._text-underline_1g5rs_149 {
  text-decoration: underline;
}
._danger-underline_1g5rs_154 {
  text-decoration: underline;
}
._secondary-underline_1g5rs_159 {
  text-decoration: underline;
}