/* Focus State
 -------------------------- */
._toggle_jvqp2_3 {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: var(--font-weight--medium);
  line-height: 1;
  cursor: pointer;
  text-decoration: none;
  height: var(--button--height);
  padding: var(--button--padding);
  border-radius: var(--button--radius);
  font-size: var(--button--font-size);
  --button--color--background: transparent;
  --button--color--background-hover: var(--background--hover);
  --button--color--background-active: var(--background--active);
  --button--color: var(--text-color);
  --button--shadow: 0 0 0 0 transparent;
  --button--shadow--hover: 0 0 0 0 transparent;
  --button--shadow--active: 0 0 0 0 transparent;
  --button--border--shadow: 0 0 0 0 transparent;
  --button--border--shadow--hover: 0 0 0 0 transparent;
  --button--border--shadow--active: 0 0 0 0 transparent;
  --button--border-color: transparent;
  --button--border-color--hover: transparent;
  --button--border-color--active: transparent;
  background-color: var(--button--color--background);
  color: var(--button--color);
  -webkit-box-shadow: inset var(--button--border--shadow), var(--button--shadow);
          box-shadow: inset var(--button--border--shadow), var(--button--shadow);
  border: none;
}
._toggle_jvqp2_3 > * {
  grid-area: 1/1;
}
._toggle_jvqp2_3:hover {
  background-color: var(--button--color--background-hover);
  -webkit-box-shadow: inset var(--button--border--shadow--hover), var(--button--shadow--hover);
          box-shadow: inset var(--button--border--shadow--hover), var(--button--shadow--hover);
}
._toggle_jvqp2_3:active, ._toggle_jvqp2_3[aria-pressed=true] {
  background-color: var(--button--color--background-active);
  -webkit-box-shadow: inset var(--button--border--shadow--active), var(--button--shadow--active);
          box-shadow: inset var(--button--border--shadow--active), var(--button--shadow--active);
}
._toggle_jvqp2_3:focus {
  outline: none;
}
._toggle_jvqp2_3:focus-visible {
  outline: var(--focus--border-width) solid var(--focus--outline-color);
  --button--border-color: var(--focus--border-color) !important;
}
._toggle_jvqp2_3._xsmall_jvqp2_55 {
  --button--height: var(--height--xs);
  --button--padding: 0 var(--spacing--2xs);
  --button--radius: var(--radius--3xs);
  --button--font-size: var(--font-size--2xs);
}
._toggle_jvqp2_3._small_jvqp2_61 {
  --button--height: var(--height--sm);
  --button--padding: 0 var(--spacing--xs);
  --button--radius: var(--radius--3xs);
  --button--font-size: var(--font-size--xs);
}
._toggle_jvqp2_3._medium_jvqp2_67 {
  --button--height: var(--height--md);
  --button--padding: 0 var(--spacing--xs);
  --button--radius: var(--radius--3xs);
  --button--font-size: var(--font-size--sm);
}
._toggle_jvqp2_3._large_jvqp2_73 {
  --button--height: var(--height--lg);
  --button--padding: 0 var(--spacing--sm);
  --button--radius: var(--radius--2xs);
  --button--font-size: var(--font-size--sm);
}
._toggle_jvqp2_3._xlarge_jvqp2_79 {
  --button--height: var(--height--xl);
  --button--padding: 0 var(--spacing--sm);
  --button--radius: var(--radius--xs);
  --button--font-size: var(--font-size--md);
}
._toggle_jvqp2_3._solid_jvqp2_85 {
  --button--color--background: var(--background--brand);
  --button--color--background-hover: var(--background--brand--hover);
  --button--color--background-active: var(--background--brand--active);
  --button--color: var(--color--neutral-white);
  --button--shadow: var(--shadow--xs);
  --button--shadow--hover: var(--shadow--xs);
  --button--shadow--active: var(--shadow--xs);
  --button--border-color: var(--background--brand);
  --button--border-color--hover: var(--background--brand--hover);
  --button--border-color--active: var(--background--brand--active);
  --button--border--shadow: 0 0 0 1px var(--button--border-color);
  --button--border--shadow--hover: 0 0 0 1px var(--button--border-color--hover);
  --button--border--shadow--active: 0 0 0 1px var(--button--border-color--active);
}
._toggle_jvqp2_3._subtle_jvqp2_100 {
  --button--color--background: var(--background--surface);
  --button--color--background-hover: color-mix(
  	in srgb,
  	var(--button--color--background),
  	var(--background--hover)
  );
  --button--color--background-active: color-mix(
  	in srgb,
  	var(--button--color--background),
  	var(--background--active)
  );
  --button--shadow: var(--shadow--xs);
  --button--shadow--hover: var(--shadow--xs);
  --button--shadow--active: var(--shadow--xs);
  --button--border-color: var(--border-color);
  --button--border-color--hover: light-dark(
  	var(--color--black-alpha-200),
  	var(--color--white-alpha-200)
  );
  --button--border-color--active: light-dark(
  	var(--color--black-alpha-300),
  	var(--color--white-alpha-300)
  );
  --button--border--shadow: 0 0 0 1px var(--button--border-color);
  --button--border--shadow--hover: 0 0 0 1px var(--button--border-color--hover);
  --button--border--shadow--active: 0 0 0 1px var(--button--border-color--active);
}
._toggle_jvqp2_3._outline_jvqp2_128 {
  --button--color--background: transparent;
  --button--border-color: var(--border-color);
  --button--border-color--hover: light-dark(
  	var(--color--black-alpha-200),
  	var(--color--white-alpha-200)
  );
  --button--border-color--active: light-dark(
  	var(--color--black-alpha-300),
  	var(--color--white-alpha-300)
  );
  --button--border--shadow: 0 0 0 1px var(--button--border-color);
  --button--border--shadow--hover: 0 0 0 1px var(--button--border-color--hover);
  --button--border--shadow--active: 0 0 0 1px var(--button--border-color--active);
}
._toggle_jvqp2_3._ghost_jvqp2_143 {
  --button--color--background: transparent;
  --button--border-color: transparent;
  --button--border--shadow: 0 0 0 1px var(--button--border-color);
  --button--border--shadow--hover: 0 0 0 1px var(--button--border-color);
  --button--border--shadow--active: 0 0 0 1px var(--button--border-color);
}
._toggle_jvqp2_3._destructive_jvqp2_150 {
  --button--color--background: light-dark(var(--color--red-500), var(--color--red-600));
  --button--color--background-hover: light-dark(var(--color--red-600), var(--color--red-500));
  --button--color--background-active: light-dark(var(--color--red-600), var(--color--red-400));
  --button--color: var(--color--neutral-white);
  --button--shadow: light-dark(
  	0 1px 3px 0 var(--color--black-alpha-100),
  	0 1px 3px 0 var(--color--black-alpha-200)
  );
  --button--shadow--hover: light-dark(
  	0 1px 3px 0 var(--color--black-alpha-100),
  	0 1px 3px 0 var(--color--black-alpha-200)
  );
  --button--shadow--active: light-dark(
  	0 1px 3px 0 var(--color--black-alpha-100),
  	0 1px 3px 0 var(--color--black-alpha-200)
  );
  --button--border-color: light-dark(var(--color--red-500), var(--color--red-600));
  --button--border-color--hover: light-dark(var(--color--red-600), var(--color--red-500));
  --button--border-color--active: light-dark(var(--color--red-600), var(--color--red-400));
  --button--border--shadow: 0 0 0 1px var(--button--border-color);
  --button--border--shadow--hover: 0 0 0 1px var(--button--border-color--hover);
  --button--border--shadow--active: 0 0 0 1px var(--button--border-color--active);
}
._toggle_jvqp2_3._success_jvqp2_174 {
  --button--color--background: light-dark(var(--color--green-600), var(--color--green-700));
  --button--color--background-hover: light-dark(var(--color--green-700), var(--color--green-600));
  --button--color--background-active: light-dark(
  	var(--color--green-700),
  	var(--color--green-500)
  );
  --button--color: var(--color--neutral-white);
  --button--shadow: light-dark(
  	0 1px 3px 0 var(--color--black-alpha-100),
  	0 1px 3px 0 var(--color--black-alpha-200)
  );
  --button--shadow--hover: light-dark(
  	0 1px 3px 0 var(--color--black-alpha-100),
  	0 1px 3px 0 var(--color--black-alpha-200)
  );
  --button--shadow--active: light-dark(
  	0 1px 3px 0 var(--color--black-alpha-100),
  	0 1px 3px 0 var(--color--black-alpha-200)
  );
  --button--border-color: light-dark(var(--color--green-600), var(--color--green-700));
  --button--border-color--hover: light-dark(var(--color--green-700), var(--color--green-600));
  --button--border-color--active: light-dark(var(--color--green-700), var(--color--green-500));
  --button--border--shadow: 0 0 0 1px var(--button--border-color);
  --button--border--shadow--hover: 0 0 0 1px var(--button--border-color--hover);
  --button--border--shadow--active: 0 0 0 1px var(--button--border-color--active);
}
._toggle_jvqp2_3._disabled_jvqp2_201 {
  opacity: 0.5;
  cursor: not-allowed;
}
._toggle_jvqp2_3._disabled_jvqp2_201:hover {
  background-color: var(--button--color--background);
  -webkit-box-shadow: inset var(--button--border--shadow), var(--button--shadow);
          box-shadow: inset var(--button--border--shadow), var(--button--shadow);
}
._toggle_jvqp2_3._iconOnly_jvqp2_209 {
  width: var(--button--height);
  padding: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
._toggle_jvqp2_3._iconOnly_jvqp2_209 > * {
  width: var(--button--height);
}
._toggle-inner_jvqp2_219 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: var(--spacing--3xs);
  white-space: nowrap;
}._group_r00l7_1 {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: var(--spacing--4xs);
}