._buttonGroup_s7s71_1 {
  display: inline-flex;
}
._buttonGroup_s7s71_1 > .button:not(:first-child) {
  border-radius: 0;
}
._buttonGroup_s7s71_1 > .button:first-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
._buttonGroupDropdown_s7s71_12 {
  border-left: 1px solid var(--color--black-alpha-100);
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}._banner_k33wq_1 {
  display: flex;
  align-items: center;
  gap: var(--spacing--2xs);
  padding: var(--spacing--xs) var(--spacing--sm);
  background-color: var(--background--hover);
  border: var(--border);
  border-radius: var(--radius--2xs);
  margin-bottom: var(--spacing--xs);
}/* BEM support Func
 -------------------------- */
/* Transition
-------------------------- */
/* Color
-------------------------- */
/* Link
-------------------------- */
/* Border
-------------------------- */
/* Outline
-------------------------- */
/* Box shadow
-------------------------- */
/* Fill
-------------------------- */
/* Typography
-------------------------- */
/* z-index
-------------------------- */
/* Disable base
-------------------------- */
/* Icon
-------------------------- */
/* Checkbox
-------------------------- */
/* Radio
-------------------------- */
/* Select
-------------------------- */
/* Alert
-------------------------- */
/* MessageBox
-------------------------- */
/* Message
-------------------------- */
/* Notification
-------------------------- */
/* Input
-------------------------- */
/* Cascader
-------------------------- */
/* Group
-------------------------- */
/* Tab
-------------------------- */
/* Button
-------------------------- */
/* cascader
-------------------------- */
/* Switch
-------------------------- */
/* Dialog
-------------------------- */
/* Table
-------------------------- */
/* Popup
-------------------------- */
/* Popover
-------------------------- */
/* Tooltip
-------------------------- */
/* Tag
-------------------------- */
/* Tree
-------------------------- */
/* Dropdown
-------------------------- */
/* Badge
-------------------------- */
/* Card
--------------------------*/
/* Slider
--------------------------*/
/* Steps
--------------------------*/
/* Menu
--------------------------*/
/* Rate
--------------------------*/
/* DatePicker
--------------------------*/
/* Loading
--------------------------*/
/* Scrollbar
--------------------------*/
/* Carousel
--------------------------*/
/* Collapse
--------------------------*/
/* Transfer
--------------------------*/
/* Header
  --------------------------*/
/* Footer
--------------------------*/
/* Main
--------------------------*/
/* Timeline
--------------------------*/
/* Backtop
--------------------------*/
/* Link
--------------------------*/
/* Calendar
--------------------------*/
/* Form
-------------------------- */
/* Avatar
--------------------------*/
/* Break-point
--------------------------*/
._projectHeader_19xx4_113 {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  min-height: var(--spacing--3xl);
}
._projectDetails_19xx4_120 {
  display: flex;
  align-items: center;
}
._actions_19xx4_125 {
  padding: var(--spacing--2xs) 0 var(--spacing--xs);
}
._projectDescriptionWrapper_19xx4_129 {
  position: relative;
  display: inline-block;
}
._projectDescriptionWrapper_19xx4_129:hover ._tooltip_19xx4_133 {
  display: block;
}
._tooltip_19xx4_133 {
  display: none;
  position: absolute;
  top: 0;
  left: calc(-1 * var(--spacing--3xs));
  background-color: var(--color--background--light-2);
  padding: 0 var(--spacing--3xs) var(--spacing--3xs);
  z-index: 10;
  white-space: normal;
  border-radius: 6px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}
._favoriteBtn_19xx4_150 {
  cursor: pointer;
  color: var(--color--text--tint-2);
  margin-top: var(--spacing--5xs);
  margin-left: var(--spacing--3xs);
  opacity: 0.8;
}
._favoriteBtn_19xx4_150._favoriteBtnActive_19xx4_157 {
  color: var(--color--yellow-500);
}
._projectDetails_19xx4_120:hover ._favoriteBtn_19xx4_150 {
  opacity: 1;
}
@media screen and (max-width: 767px) {
._projectHeader_19xx4_113 {
    flex-direction: column;
    align-items: flex-start;
    gap: var(--spacing--xs);
}
._headerActions_19xx4_171 {
    margin-left: auto;
}
}