._indicator_18qwi_1 {
  display: flex;
  align-items: center;
  gap: var(--spacing--3xs);
  padding: var(--spacing--4xs) var(--spacing--2xs);
  border-radius: var(--spacing--4xs);
  border: var(--border);
}
._indicator_18qwi_1:focus-visible {
  outline: var(--focus--border-width) solid var(--focus--outline-color);
}
._indicator_18qwi_1 * {
  line-height: calc(var(--font-size--sm) + var(--border-width));
}