._container_1dt1z_1 {
  display: flex;
  flex-direction: column;
  gap: var(--spacing--xl);
}
._header_1dt1z_7 {
  display: flex;
  flex-direction: column;
  gap: var(--spacing--2xs);
}
._content_1dt1z_13 {
  display: flex;
  flex-direction: column;
  gap: var(--spacing--2xs);
}
._checkboxContainer_1dt1z_19 {
  display: flex;
  flex-direction: column;
  border: var(--border-width) var(--border-style) var(--color--info--tint-1);
  border-radius: var(--radius);
  padding: var(--spacing--md) var(--spacing--md) var(--spacing--xs);
}
._checkboxContainer_1dt1z_19 label {
  font-weight: var(--font-weight--bold);
  padding-bottom: var(--spacing--5xs);
}
._checkboxContainer_1dt1z_19 ._checkboxDescription_1dt1z_30 {
  padding: var(--spacing--2xs) var(--spacing--xl);
}
._checkboxContainer_1dt1z_19 ._notice_1dt1z_33 {
  margin-left: var(--spacing--xl);
  margin-top: var(--spacing--2xs);
}
._privacyNote_1dt1z_38 span + span {
  margin-left: var(--spacing--4xs);
}