._auditNotice_6eh4m_1 {
  margin-top: var(--spacing--sm);
}
._checkboxWrapper_6eh4m_5 {
  margin-top: var(--spacing--md);
}
._footerActions_6eh4m_9 {
  display: flex;
  justify-content: flex-end;
  gap: var(--spacing--2xs);
}._center_1equm_1 > div {
  justify-content: center;
}
._actionBox_1equm_5 {
  margin: var(--spacing--2xl) 0 0;
}
._spacedFlex_1equm_9 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
._title_1equm_15 {
  display: flex;
  align-items: center;
  padding: var(--spacing--2xl) 0 var(--spacing--md);
}
._quota_1equm_21 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 54px;
  padding: 0 var(--spacing--sm);
  margin: 0 0 var(--spacing--xs);
  background: var(--color--background--light-3);
  border-radius: var(--radius--lg);
  border: 1px solid var(--color--foreground);
  white-space: nowrap;
}
._quota_1equm_21 ._count_1equm_33 {
  text-transform: lowercase;
  font-size: var(--font-size--sm);
}
._buttons_1equm_38 {
  display: flex;
  justify-content: flex-end;
  padding: var(--spacing--xl) 0 0;
}
._buttons_1equm_38 button {
  margin-left: var(--spacing--xs);
}
._buttons_1equm_38 button a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
  padding: var(--spacing--xs) var(--spacing--md);
  margin: calc(var(--spacing--xs) * -1) calc(var(--spacing--md) * -1);
}
._chart_1equm_54 {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-grow: 1;
}
._chartLine_1equm_61 {
  display: block;
  height: 10px;
  width: 100%;
  max-width: 260px;
  margin: 0 var(--spacing--md);
  border-radius: 10px;
  background: var(--color--background);
}
._chartBar_1equm_71 {
  float: left;
  height: 100%;
  max-width: 100%;
  background: var(--color--secondary);
  border-radius: 10px;
  transition: width 0.2s cubic-bezier(0.19, 1, 0.22, 1);
}
div[class*=info] > span > span:last-child {
  line-height: 1.4;
  padding: 0 0 0 var(--spacing--4xs);
}
._titleTooltip_1equm_85 {
  display: flex;
  align-items: center;
  margin: 0 0 0 var(--spacing--2xs);
}
._dialogButtonsContainer_1equm_91 {
  display: flex;
  justify-content: flex-end;
}
._activationSuccessDescription_1equm_96 {
  display: block;
  margin-top: var(--spacing--xs);
}.settings-usage-and-plan[data-v-4d619a99] .el-dialog__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.settings-usage-and-plan[data-v-4d619a99] .el-dialog__wrapper .el-dialog {
  margin: 0;
}
.settings-usage-and-plan[data-v-4d619a99] .el-dialog__wrapper .el-dialog .el-dialog__footer button {
  margin-left: var(--spacing--xs);
}