._card_97l0w_1 {
  position: relative;
  margin-bottom: var(--spacing--2xs);
}
._cardImage_97l0w_6 {
  width: 28px;
  height: 28px;
}
._cardBody_97l0w_11 {
  display: flex;
  flex-direction: row;
  align-items: center;
}
._cardContent_97l0w_17 {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-left: var(--spacing--sm);
}
._cardActions_97l0w_24 {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: var(--spacing--sm);
}