._notice_1vgxa_1 {
  margin-top: 0;
}i[data-v-563d175d] {
  color: var(--color--success);
}._container_h3m65_1 {
  list-style: none;
}
._heading_h3m65_5 {
  display: flex;
  align-items: center;
  margin-bottom: var(--spacing--2xs);
}
._headingOrder_h3m65_11 {
  font-weight: var(--font-weight--bold);
  margin-right: var(--spacing--xs);
}
._headingIcon_h3m65_16 {
  margin-right: var(--spacing--2xs);
}
._description_h3m65_20 {
  margin-bottom: var(--spacing--lg);
  font-size: var(--font-size--sm);
  color: var(--color--text);
}
._credentials_h3m65_26 {
  max-width: 400px;
  display: flex;
  align-items: center;
}
._credentialPicker_h3m65_32 {
  flex: 1;
}
._credentialOk_h3m65_36 {
  margin-left: var(--spacing--2xs);
  font-size: 24px;
}
._invisible_h3m65_41 {
  visibility: hidden;
}