._container_q8v89_1 {
  display: flex;
}
._compact_q8v89_5 {
  display: none;
}
@container canvas (max-width: 800px) {
._full_q8v89_10 {
    display: none;
}
._compact_q8v89_5 {
    display: inline-flex;
}
}