._header_avrc4_1 {
  display: flex;
  gap: var(--spacing--2xs);
  align-items: center;
  min-width: 0;
}
._icon_avrc4_8 {
  flex-shrink: 0;
  flex-grow: 0;
}
._title_avrc4_13 {
  font-size: var(--font-size--md);
  font-weight: var(--font-weight--regular);
  line-height: var(--line-height--lg);
  color: var(--color--text--shade-1);
  flex: 1;
  min-width: 0;
}
._footer_avrc4_22 {
  display: flex;
  justify-content: flex-end;
  gap: var(--spacing--2xs);
}
._contentWrapper_avrc4_28 {
  display: flex;
  flex-direction: column;
  max-height: 80vh;
  overflow: hidden;
  margin-right: calc(-1 * var(--spacing--lg));
  padding: var(--spacing--md) 0;
}
._contentWrapper_avrc4_28 .ndv-connection-hint-notice {
  display: none;
}