._container_190rv_1 {
  display: flex;
  flex-direction: column;
  gap: var(--spacing--2xs);
}
._workflowList_190rv_7 {
  margin: 0;
  padding-left: var(--spacing--md);
  list-style: disc;
}
._workflowItem_190rv_13 {
  padding: var(--spacing--4xs) 0;
}