._tree_vs7gc_1 {
  padding: 0 var(--spacing--2xs) var(--spacing--2xs) var(--spacing--2xs);
  /* For programmatically triggered scroll in useVirtualList to animate, make it scroll smoothly */
  scroll-behavior: smooth;
}
._container_vs7gc_6:not(._staticScrollBar_vs7gc_6) ._tree_vs7gc_1 {
  scroll-padding-block: var(--spacing--3xs);
}
@supports not (selector(::-webkit-scrollbar)) {
._container_vs7gc_6:not(._staticScrollBar_vs7gc_6) ._tree_vs7gc_1 {
    scrollbar-width: thin;
}
}
@supports selector(::-webkit-scrollbar) {
._container_vs7gc_6:not(._staticScrollBar_vs7gc_6) ._tree_vs7gc_1 {
    padding-right: var(--spacing--5xs);
    scrollbar-gutter: stable;
}
._container_vs7gc_6:not(._staticScrollBar_vs7gc_6) ._tree_vs7gc_1::-webkit-scrollbar {
    width: var(--spacing--4xs);
}
._container_vs7gc_6:not(._staticScrollBar_vs7gc_6) ._tree_vs7gc_1::-webkit-scrollbar-thumb {
    border-radius: var(--spacing--4xs);
    background: var(--color--foreground--shade-1);
}
}
._tree_vs7gc_1 .el-icon {
  display: none;
}