._location-container_yz6mi_1 {
  display: flex;
  align-items: center;
  gap: var(--spacing--4xs);
  color: var(--color--text);
  min-width: 0;
  overflow: hidden;
}
._ellipsis_yz6mi_10 {
  padding-right: var(--spacing--4xs);
}
._ellipsis_yz6mi_10,
._separator_yz6mi_15 {
  -webkit-user-select: none;
          user-select: none;
  color: var(--color--text--tint-1);
}
._grandparent_yz6mi_20 {
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
._parent-folder_yz6mi_26 {
  display: flex;
  align-items: center;
  gap: var(--spacing--4xs);
  min-width: 0;
  overflow: hidden;
}
._truncate_yz6mi_34 {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  min-width: 0;
}
._location-link_yz6mi_42 {
  color: var(--color--text);
}
._workflow-name_yz6mi_46 {
  color: var(--color--text--shade-1);
}