._host_1m0j7_1 {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  min-height: 0;
}
._centerState_1m0j7_9 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--spacing--xs);
  flex: 1;
  min-height: 0;
}