._container_1nhzu_1 {
  width: 100%;
  height: 100%;
  flex: 1;
  background-color: var(--color--background--light-2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
._messageContainer_1nhzu_12 {
  color: var(--color--text);
}
._messageContainer_1nhzu_12 div {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
._icon_1nhzu_22 {
  font-size: 24px;
  color: var(--color--foreground--shade-1);
}